// @include mediaquery {}で使う
@mixin mediaquery {
    @media screen and (min-width: 750px) {
        @content;
    }
}

// 画像ファイルの切り替え
.pc {
    display: none !important;
}

.sp {
    display: block !important;
}

@include mediaquery {
    .pc {
        display: block !important;
    }
    .sp {
        display: none !important;
    }
}

// 分割したファイルのインポート
@import "common/reset";
@import "common/header";
@import "common/campaign";
@import "common/form_close";
@import "common/agree";
@import "common/footer";

// 背景
body {
    background: url(../img/back_sp.png) center/cover;
    @include mediaquery {
        background: url(../img/back.png) center/cover;
    }
}

// 各コンポーネント間の距離
.campaign {
    margin-bottom: -10%;
    @include mediaquery {
        margin-bottom: 0px;
    }
}

// 画像ファイルを選択不可に
img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

// ポインターを変更
p, h1, h2, li {
    cursor: default;
}
