<div class="agree">
    <img class="agree__silhouette-sp sp" src="img/silhouette2_sp.png" alt="">
    <div class="agree__text">
        <img class="agree__text-title" src="img/text_agreetitle_sp.png" alt="注意事項">
        <img class="agree__text-description" src="img/text_agreedescription_sp.png" alt="利用規約・ご応募上の注意　必ずお読みください">
        <h1 class="agree__text-maintext">応募規約・ご応募上の注意＜必ずお読みください＞</h1>
        <p class="agree__text-maintext br">本キャンペーンはNetmarble Corp.が主催しているキャンペーンです。</p>
        <p class="agree__text-maintext">事前に下記の応募要項を全てお読みいただき、ご同意いただいたうえで当キャンペーンにご応募ください。</p>
        <p class="agree__text-maintext br">キャンペーンにご応募いただくことにより、応募要項並びにプライバシーポリシーにご同意いただいたものとみなします。</p>
        <h2 class="agree__text-maintext">□キャンペーン期間</h2>
        <p class="agree__text-maintext br">2018年6月15日（金）14：00～2018年夏</p>
        <h2 class="agree__text-maintext">□応募方法</h2>
        <ol>
            <li class="agree__text-maintext">①各キャンペーンのページに隠れているキーワードを探す。</li>
            <li class="agree__text-maintext">②5つのキーワードを応募フォームに入力し、応募ページを開く。</li>
            <li class="agree__text-maintext br">③応募フォームのすべての項目を入力し送信。</li>
        </ol>
        <h2 class="agree__text-maintext">□プレゼント内容・当選人数</h2>
        <ul>
            <li class="agree__text-maintext br">・NEOGEO mini – 30台</li>
        </ul>
        <h2 class="agree__text-maintext">□当選発表と賞品のお届け</h2>
        <p class="agree__text-maintext">キャンペーン期間終了後、ご当選者様のメールアドレス宛に、賞品のお届けスケジュールとあわせてご連絡いたします。</p>
        <p class="agree__text-maintext">当選発表は、以下のメールアドレスよりご連絡いたします。メールの受信設定を行ってください。</p>
        <p class="agree__text-maintext">XXXXXX@XXXXXX.XX</p>
        <ul>
            <li class="agree__text-maintext">※賞品のお届け日の指定はできません。</li>
            <li class="agree__text-maintext">※当選発表から賞品の発送までお時間をいただく場合があります。</li>
            <li class="agree__text-maintext">※抽選方法や抽選結果、応募受付確認等、キャンペーン応募や当選に関するお問い合わせにはお答えできかねますので、あらかじめご了承ください。</li>
            <li class="agree__text-maintext br">※当選権利を第三者に譲渡・転売・貸与することはできません。それらの行為を含む、不正または不正とみなす行為を確認した場合は、応募や当選の権利を無効または取り消しとさせていただく場合があります。</li>
        </ul>
        <h2 class="agree__text-maintext">□応募規約</h2>
        <p class="agree__text-maintext">下記応募規約を全てお読みいただき、ご同意いただいた方のみご応募ください。</p>
        <ul>
            <li class="agree__text-maintext">・当キャンペーンの運営の一切は、キャンペーン事務局が行います。事務局は、必要と判断した場合には、本応募規約を変更できるほか、当キャンペーンの適切な運用を担保するために必要なあらゆる対応ができるものとします。</li>
            <li class="agree__text-maintext">・応募者は当キャンペーンの応募にあたり、本応募規約及びキャンペーン事務局の指示に従うものとし、その運営方法について一切異議を申し立てないものとします。</li>
            <li class="agree__text-maintext">・応募者は、日本国内に居住されている方で、かつ賞品のお届け先が日本国内の方とさせていただきます。</li>
            <li class="agree__text-maintext">・Netmarble Corp. とSNK Corp.の社員および関係者は応募できません。</li>
            <li class="agree__text-maintext">・本キャンペーンはやむを得ない事情により中止または賞品内容等が変更となる場合がございますので、あらかじめご了承ください。</li>
            <li class="agree__text-maintext">・サイトのコンテンツは予告なく変更又は削除される場合がございます。あらかじめご了承ください。</li>
            <li class="agree__text-maintext">・サイトの終了および停止、またそれらが原因となり生じた損失や損害について、Netmarble Corp.とSNK Corp.はいかなる責任も負いません。</li>
            <li class="agree__text-maintext br">・当サイトの利用によるいかなるトラブル・損害（直接、間接の損害別を問わず）が発生したとしてもNetmarble Corp.とSNK Corp.は一切の責任を負いません。あらかじめご了承ください。</li>
        </ul>
        <h2 class="agree__text-maintext">□免責・発生費用について</h2>
        <ul>
            <li class="agree__text-maintext">・本キャンペーンのご応募などに必要な通信料等は、理由の如何を問わずお客様負担となります。</li>
            <li class="agree__text-maintext">・本サービスの利用は、利用者自らの判断と責任において行い、本サイトの利用によるハードウェア、ソフトウェアのトラブルや損害、通信環境または機器等の故障等によるアクセスの障害について、当社は責任を負いません。</li>
            <li class="agree__text-maintext">・投稿時の送信中の事故・データの破損・喪失等については一切責任を負いません。</li>
            <li class="agree__text-maintext br">・投稿された方には報酬や開発に伴う権利等は一切発生いたしません。</li>
        </ul>
        <h2 class="agree__text-maintext">□個人情報</h2>
        <ul>
            <li class="agree__text-maintext">・本キャンペーンにかかわる応募者の個人情報を、「プライバシーポリシー」に基づき、適切に取り扱うものとします。応募者は、この「プライバシーポリシー」に基づく個人情報の取り扱いに同意するものとします。</li>
            <li class="agree__text-maintext br">・本キャンペーンでご応募いただいた個人情報は、Netmarble Corp.及びキャンペーン事務局で適切に管理し、抽選・賞品の発送・マーケティングデータ集計及び分析にのみ使用し、そのほかの目的では使用いたしません。また、キャンペーンの運営に伴い委託先協力会社に提供する場合や、法令などにより開示を求められた場合を除き、お客さまの承諾なしに第三者への提供はいたしません。キャンペーン終了後、一定期間をもってキャンペーン事務局が責任をもって消去いたします。</li>
        </ul>
        <p class="agree__text-maintext">本キャンペーンに関するお問い合わせ先</p>
        <p class="agree__text-maintext">-------------------------------------</p>
        <h2 class="agree__text-maintext">お問い合わせ</h2>
        <p class="agree__text-maintext">土日祝日を除く、平日00:00～00:00</p>
        <p class="agree__text-maintext br-last">-------------------------------------</p>
    </div>
</div>
