<div class="campaign sp">
    <div class="campaign__img">
        <img class="campaign__img-main" src="img/c1_close_sp.png" alt="キャンペーン第1弾 KING OF STAMP">
    </div>
    <div class="campaign__img">
        <img class="campaign__img-main" src="img/c2_close_sp.png" alt="キャンペーン第2弾 KING OF VTUBER">
    </div>
    <div class="campaign__img">
        <img class="campaign__img-main" src="img/c3_close_sp.png" alt="キャンペーン第3弾 KING OF TOURNAMENT">
    </div>
    <div class="campaign__img">
        <img class="campaign__img-main" src="img/c4_close_sp.png" alt="キャンペーン第4弾 KING OF TRACKS">
    </div>
    <div class="campaign__img">
        <img class="campaign__img-main" src="img/c5_close_sp.png" alt="キャンペーン第5弾 KING OF YOUTUBER">
    </div>
</div>

<div class="campaign pc">
    <div class="campaign__img">
        <img class="campaign__img-main" src="img/c1_close.png" alt="キャンペーン第1弾 KING OF STAMP">
    </div>
    <div class="campaign__img">
        <img class="campaign__img-main" src="img/c2_close.png" alt="キャンペーン第2弾 KING OF VTUBER">
    </div>
    <div class="campaign__img">
        <img class="campaign__img-main" src="img/c3_close.png" alt="キャンペーン第3弾 KING OF TOURNAMENT">
    </div>
    <div class="campaign__img">
        <img class="campaign__img-main" src="img/c4_close.png" alt="キャンペーン第4弾 KING OF TRACKS">
    </div>
    <div class="campaign__img">
        <img class="campaign__img-main" src="img/c5_close.png" alt="キャンペーン第5弾 KING OF YOUTUBER">
    </div>
</div>
