<div class="campaign sp">
    <div class="campaign__img">
        <img class="campaign__img-main" src="img/c1_sp.png" alt="キャンペーン第1弾 KING OF STAMP KOFのLINEスタンプが無料でもらえる！ お馴染みのセリフスタンプから、使いやすいスタンプまで勢揃い♪あなたのLINEトークをKOFで盛り上げろ！">
        <a href="dammy"><img class="campaign__img-join" src="img/c1_join_sp.png" alt="キャンペーンに参加"></a>
    </div>
    <div class="campaign__img">
        <img class="campaign__img-main" src="img/c2_sp.png" alt="キャンペーン第2弾 KING OF VTUBER">
        <a href="dammy"><img class="campaign__img-join" src="img/c2_join_sp.png" alt="キャンペーンに参加"></a>
    </div>
    <div class="campaign__img">
        <img class="campaign__img-main" src="img/c3_sp.png" alt="キャンペーン第3弾 KING OF TOURNAMENT">
        <a href="dammy"><img class="campaign__img-join" src="img/c3_join_sp.png" alt="キャンペーンに参加"></a>
    </div>
    <div class="campaign__img">
        <img class="campaign__img-main" src="img/c4_sp.png" alt="キャンペーン第4弾 KING OF TRACKS">
        <a href="dammy"><img class="campaign__img-join" src="img/c4_join_sp.png" alt="キャンペーンに参加"></a>
    </div>
    <div class="campaign__img">
        <img class="campaign__img-main" src="img/c5_sp.png" alt="キャンペーン第5弾 KING OF YOUTUBER">
        <a href="dammy"><img class="campaign__img-join" src="img/c5_join_sp.png" alt="キャンペーンに参加"></a>
    </div>
</div>

<div class="campaign pc">
    <div class="campaign__img">
        <img class="campaign__img-main" src="img/c1.png" alt="キャンペーン第1弾 KING OF STAMP KOFのLINEスタンプが無料でもらえる！ お馴染みのセリフスタンプから、使いやすいスタンプまで勢揃い♪あなたのLINEトークをKOFで盛り上げろ！">
        <a href="dammy"><img class="campaign__img-join" src="img/c1_join.png" alt="キャンペーンに参加"></a>
    </div>
    <div class="campaign__img">
        <img class="campaign__img-main" src="img/c2.png" alt="キャンペーン第2弾 KING OF VTUBER">
        <a href="dammy"><img class="campaign__img-join" src="img/c2_join.png" alt="キャンペーンに参加"></a>
    </div>
    <div class="campaign__img">
        <img class="campaign__img-main" src="img/c3.png" alt="キャンペーン第3弾 KING OF TOURNAMENT">
        <a href="dammy"><img class="campaign__img-join" src="img/c3_join.png" alt="キャンペーンに参加"></a>
    </div>
    <div class="campaign__img">
        <img class="campaign__img-main" src="img/c4.png" alt="キャンペーン第4弾 KING OF TRACKS">
        <a href="dammy"><img class="campaign__img-join" src="img/c4_join.png" alt="キャンペーンに参加"></a>
    </div>
    <div class="campaign__img">
        <img class="campaign__img-main" src="img/c5.png" alt="キャンペーン第5弾 KING OF YOUTUBER">
        <a href="dammy"><img class="campaign__img-join" src="img/c5_join.png" alt="キャンペーンに参加"></a>
    </div>
</div>
    