<div class="footer">
    <img class="footer__silhouette-pc pc" src="img/silhouette_2.png" alt="">
    <img class="footer__silhouette-iori pc" src="img/iori.png" alt="">
    <img class="footer__silhouette-terry pc" src="img/terry.png" alt="">
    <p class="footer__copyright">©SNK CORPORATION ALL RIGHTS RESERVED./  © Netmarble Corp. &amp; Netmarble Neo Inc. All Rights Reserved. <p>
</div>
