<div class="footer">
    <img class="footer__keyword" src="img/keyword1.png" alt="NEOGEO miniが当たるキャンペーン　第1弾キーワード　印">
    <img class="footer__silhouette-pc pc" src="img/silhouette_2.png" alt="">
    <img class="footer__silhouette-iori pc" src="img/iori.png" alt="">
    <img class="footer__silhouette-terry pc" src="img/terry.png" alt="">
    <img class="footer__silhouette-sp sp" src="img/silhouette3.png" alt="">
    <p class="footer__copyright">©SNK CORPORATION ALL RIGHTS RESERVED./  © Netmarble Corp. &amp; Netmarble Neo Inc. All Rights Reserved. <p>
</div>
