<div class="form">
    <div class="form__silhouette">
        <img class="form__silhouette-sp sp" src="img/silhouette_sp.png" alt="">
        <img class="form__silhouette-mai pc" src="img/mai.png" alt="">
        <img class="form__silhouette-kyou pc" src="img/kyou.png" alt="">
        <img class="form__silhouette-pc pc" src="img/silhouette_1.png" alt="">
        <img class="form__silhouette-mesh pc" src="img/mesh.png" alt="">
    </div>
    <div class="form__entry">
        <div class="form__entry--close">
            <a href="dammy">
                <img class="form__entry--close-text pc" src="img/close.png" alt="7月26日より応募受付開始！NEOGEO miniが当たるキャンペーン　キャンペーン第1弾～第5弾のキャンペーンページにアクセス！キーワードを見つけて応募するとNEOGEO miniが当たる！"></a>
            <a href="dammy">
                <img class="form__entry--close-text sp" src="img/close_sp.png" alt="7月26日より応募受付開始！NEOGEO miniが当たるキャンペーン　キャンペーン第1弾～第5弾のキャンペーンページにアクセス！キーワードを見つけて応募するとNEOGEO miniが当たる！"></a>
        </div>
        <img class="form__entry-title" src="img/text_campaigntitle_sp.png" alt="キャンペーン申込フォーム">
        <div class="form__entry-description-neogeo">
            <img class="form__entry-description sp" src="img/text_campaigndescription_sp.png" alt="各キャンペーン内に表示されるキーワードを全て入力してNEOGEO miniをゲットしよう！">
            <img class="form__entry-description pc" src="img/text_campaigndescription.png" alt="各キャンペーン内に表示されるキーワードを全て入力してNEOGEO miniをゲットしよう！">
            <a href="dammy">
                <img class="form__entry-neogeomini sp" src="img/neogeomimi.png" alt="NEOGEO miniとは">
            </a>
        </div>
        <div class="form__entry-form">
            <ul class="form__entry-form--list">
                <li class="form__entry-form--list-item">
                    <img class="form__entry-form--label form__entry-form--label-1" src="img/text_campaign1_sp.png" alt="キャンペーン第1段">
                    <input class="form__entry-form--input form__entry-form--input-1">
                </li>
                <li class="form__entry-form--list-item">
                    <img class="form__entry-form--label" src="img/text_campaign2_sp.png" alt="キャンペーン第2段">
                    <input class="form__entry-form--input form__entry-form--input-2">
                </li>
                <li class="form__entry-form--list-item">
                    <img class="form__entry-form--label" src="img/text_campaign3_sp.png" alt="キャンペーン第3段">
                    <input class="form__entry-form--input form__entry-form--input-3">
                </li>
                <li class="form__entry-form--list-item">
                    <img class="form__entry-form--label" src="img/text_campaign4_sp.png" alt="キャンペーン第4段">
                    <input class="form__entry-form--input form__entry-form--input-4">
                </li>
                <li class="form__entry-form--list-item">
                    <img class="form__entry-form--label" src="img/text_campaign5_sp.png" alt="キャンペーン第5段">
                    <input class="form__entry-form--input form__entry-form--input-5">
                </li>
            </ul>
        </div>
        <a href="dammy">
            <img class="form__entry-button" src="img/entry.png" alt="キャンペーンに応募する">
        </a>
    </div>
</div>
