<div class="form">
    <div class="form__campaign-1">
        <img class="form__campaign-1-img sp" src="img/campaign_sp.png" alt="">
        <img class="form__campaign-1-img pc" src="img/campaign.png" alt="">
    </div>
</div>
