<div class="header">
    <img class="header__logo" src="img/logo.png" alt="KING OF CAMPAIGN 2018">
    <img class="header__silhouette pc" src="img/back_silhouette.png" alt="">
    <img class="header__silhouette sp" src="img/back_silhouette_sp.png" alt="">
    <a href="dammy"><img class="header__join" src="img/join.png" alt="事前登録はこちら"></a>
    <img class="header__title sp" src="img/text_title_sp.png" alt="KOF ALLSTARリリースキャンペーン特設サイト">
    <img class="header__title pc" src="img/text_title.png" alt="KOF ALLSTARリリースキャンペーン特設サイト">
    <img class="header__title-description sp" src="img/text_titledescription_sp.png" alt="5つのキャンペーンに参加で「NEOGEO mini」が当たる！">
    <img class="header__title-description pc" src="img/text_titledescription.png" alt="5つのキャンペーンに参加で「NEOGEO mini」が当たる！">
</div>
