<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>VT</title>
    <link rel="stylesheet" type="text/css" href="./css/close.css">
</head>

<body>
    <% include common/_header %>
    <% include common/_campaign_close %>
    <% include common/_form_close %>
    <% include common/_agree %>
    <% include common/_footer %>
</body>

</html>
