.agree {
    margin-top: 5%;
    &__silhouette {
        &-sp {
            position: relative;
            margin: -4% auto -20% auto;
            width: 100vw;
            z-index: -1;
        }
    }
    &__text {
        background-color: black;
        border: 1px solid #FF6600;
        box-shadow: 0 0 10px 3px #402E1D;
        box-shadow: 0px 10px 5px -5px #453220;
        box-sizing: border-box;
        width: 100%;
        @include mediaquery {
            margin: 0 auto;
            width: 58%;
            box-shadow: 0 0 10px 10px #402E1D;
        }
        &-title {
            display: block;
            margin: 8% auto 3% auto;
            width: 30%;
            @include mediaquery {
                width: 25%;
            }
        }
        &-description {
            display: block;
            margin: 0 auto 7% auto;
            width: 75%;
            @include mediaquery {
                width: 70%;
            }
        }
        &-maintext {
            display: block;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            color: #ababab;
            font-size: 12px;
            line-height: 20px;
            font-family: 'Meiryo', 'Hiragino Kaku Gothic Pro', 'Droid Sans', 'HiraKakuProN-W6', serif;
            font-weight: normal;
            margin: 0 auto 0 4%;
            width: 94%;
            @include mediaquery {
                font-size: 18px;
                line-height: 24px;
                margin: 0 auto;
                width: 86%;
            }
        }
        .br {
            margin-bottom: 1rem;
            &-last {
                margin-bottom: 10%;
            }
        }
    }
}
