.campaign {
    @include mediaquery {
        margin: 0 auto;
        width: 70vw;
    }
    &__img {
        position: relative;
        text-align: center;
        margin-top: 5%;
        @include mediaquery {
            display: inline-block;
            margin-left: 1vw;
        }
        &-main {
            filter: drop-shadow(8px 8px 7.52px #000);
            width: 95vw;
            @include mediaquery {
                width: 12vw;
            }
        }
        &-join {
            position: absolute;
            top: 0;
            right: 6%;
            margin: 28% auto 0 -86%;
            width: 74%;
            @include mediaquery {
                margin: 180% 0 0 -92%;
                width: 10vw;
            }
            &:hover {
                opacity: 0.8;
            }
            &:active {
                opacity: 0.5;
                margin: 29% auto 0 -86%;
                @include mediaquery {
                    margin: 181% 0 0 -92%;
                }
            }
        }
    }
}
