.footer {
    &__copyright {
        color: #ebebe9;
        font-size: 8px;
        display: inline-block;
        margin: 20px 40px;
        text-align: center;
        @include mediaquery {
            display: block;
            margin: 8% auto 2% auto;
            width: 90%;
        }
    }
    &__silhouette {
        &-pc {
            position: absolute;
            object-fit: cover;
            margin-top: -57.8%;
            width: 100%;
            z-index: -1;
        }
        &-iori {
            position: absolute;
            margin: -20% 0 0 5%;
            width: 20%;
        }
        &-terry {
            position: absolute;
            margin: -17% 0 0 74%;
            width: 20%;
        }
    }
}
