.footer {
    text-align: center;
    text-align-last: center;
    &__copyright {
        color: #ebebe9;
        font-size: 8px;
        display: inline-block;
        margin: 48% 40px 5% 40px;
        @include mediaquery {
            display: block;
            margin: 8% auto 2% auto;
            width: 90%;
        }
    }
    &__keyword {
        margin-top: 15%;
        width: 95%;
        @include mediaquery {
            margin: 7% 0 -2% 0;
            width: 45%;
        }
    }
    &__silhouette {
        &-pc {
            position: absolute;
            object-fit: cover;
            margin-top: -57.8%;
            width: 100%;
            z-index: -1;
            @include mediaquery {
                margin-top: -51%;
            }
        }
        &-sp {
            position: absolute;
            object-fit: cover;
            margin-top: -5%;
            width: 100%;
            z-index: -1;
        }
        &-iori {
            position: absolute;
            margin: -20% 0 0 5%;
            width: 20%;
            @include mediaquery {
                margin-top: -13.2%;
            }
        }
        &-terry {
            position: absolute;
            margin: -17% 0 0 74%;
            width: 20%;
            @include mediaquery {
                margin-top: -9.8%;
            }
        }
    }
}
