.form {
    position: relative;
    @include mediaquery {
        max-width: 80%;
        margin: 0 auto;
    }
    &__silhouette {
        &-sp {
            position: relative;
            display: block;
            margin: 0 auto -24.7% auto;
            width: 100vw;
            z-index: -1;
        }
        &-mai {
            position: absolute;
            top: 0;
            right: 0;
            width: 19.4vw;
            margin: 16.8vw -4vw 0 0;
            -webkit-clip-path: polygon(0 0, 100% 0%, 100% 81%, 0 89%);
            clip-path: polygon(0 0, 100% 0%, 100% 81%, 0 89%);
        }
        &-kyou {
            position: absolute;
            top: 0;
            left: 0;
            width: 19.2vw;
            margin: 20.5vw 0 0 -4vw;
            -webkit-clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 98%);
            clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 98%);
        }
        &-pc {
            position: absolute;
            margin-top: -35%;
            margin-left: -14%;
            width: 100vw;
            z-index: -1;
        }
        &-mesh {
            @extend .form__silhouette-pc;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 73%, 0 88%);
            clip-path: polygon(0 0, 100% 0, 100% 73%, 0 88%);
            margin-top: -25%;
        }
    }
    &__entry {
        background-color: #000;
        border: solid 1px #0C41AB;
        box-shadow: 0 0 7px 5px #0C41AB;
        margin: 0 auto;
        width: 100vw;
        @include mediaquery {
            margin-top: 2%;
            width: 73%;
        }
        &-title {
            display: block;
            margin: 7% auto 7% auto;
            width: 82vw;
            @include mediaquery {
                margin: 5% auto 2% auto;
                max-width: 50%;
            }
        }
        &-description-neogeo {
            margin: 11% auto 11% auto;
            width: 82vw;
            @include mediaquery {
                margin: 0;
                width: 100%;
            }
        }
        &-description {
            display: block;
            width: 50vw;
            @include mediaquery {
                margin: 0 auto 5% auto;
                max-width: 40%;
            }
        }
        &-neogeomini {
            position: absolute;
            display: block;
            margin: -22.5% 0 0 54%;
            width: 32vw;
            @include mediaquery {
                max-width: 20%;
                top: 0;
                right: 0;
                margin: -5% 8% 0 0;
            }
        }
        &-form {
            margin: 0 auto;
            width: 90%;
        }
        &-form--list {
            margin: 0 auto;
            width: 100%;
            &-item {
                margin-bottom: 3%;
                @include mediaquery {
                    margin: 1.5%;
                    text-align: center;
                }
            }
        }
        &-form--label {
            display: inline-block;
            margin: 0 8% 0 8%;
            width: 33%;
            vertical-align: middle;
            @include mediaquery {
                display: inline;
                margin: 0 4% 0 0;
                width: 20%;
            }
        }
        &-form--input {
            width: 45%;
            border: 1px solid white;
            border-radius: 1px;
            @include mediaquery {
                display: inline;
                vertical-align: middle;
                height: 30px;
                width: 35%;
            }
        }
        &-button {
            display: block;
            margin: 7% auto 10% auto;
            width: 78vw;
            @include mediaquery {
                width: 40%;
                margin: 7% auto 4% auto;
            }
            &:hover {
                opacity: 0.8;
            }
        }
    }
}
