.header {
    &__logo {
        display: block;
        margin: -10px auto;
        width: 70%;
        @include mediaquery {
            margin: -4% auto 20px auto;
            width: 48%;
        }
    }
    &__silhouette {
        display: block;
        position: absolute;
        top: 0;
        object-fit: cover;
        width: 100%;
        filter: grayscale(1);
        z-index: -1;
    }
    &__join {
        position: absolute;
        top: 0;
        left: 0;
        width: 30%;
        @include mediaquery {
            left: 15%;
            width: 14%;
        }
    }
    &__title {
        display: block;
        margin: -8% auto 3% auto;
        width: 68%;
        @include mediaquery {
            width: 25%;
            margin: -4% auto 3% auto;
        }
        &-description {
            @extend .header__title;
            margin: -2% auto -3% auto;
            width: 75%;
            @include mediaquery {
                margin: -3% auto 0 auto;
                min-width: 45%;
                max-width: 50%;
            }
        }
    }
}
